/* Utils */

* { margin:0; padding:0; }

img { border: 0 }

.dbg_r { border: 1px solid red; }
.dbg_g { border: 1px solid green; }
.dbg_b { border: 1px solid black; }

.hidden { display: none; } 

.br_8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px
}

.br_3 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.box_shadow {
    -webkit-box-shadow: #777 0px 4px 10px;
    -moz-box-shadow: #777 0px 4px 10px;
    box-shadow: #777 0px 4px 10px;
}

.box_shadow_s {
    -webkit-box-shadow: #777 0px 2px 5px;
    -moz-box-shadow: #777 0px 2px 5px;
    box-shadow: #777 0px 2px 5px;
}

.linear_grad {
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(240,240,240)),
        color-stop(1, rgb(255,255,255))
    );

    background:-moz-linear-gradient(
        center bottom, 
        rgb(240,240,240), 
        rgb(255,255,255)
    ); 
}

.clear { clear: both; line-height: 1px; font-size: 1px; }

.align_right { text-align: right; }
/* Interface */

body { 
    width: 100%; 
    height: 100%; 
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    color: #333;
    background: url('/images/bg.png');
}

textarea {
    border: 1px solid #BDC7D8;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    padding: 3px;
}

#start_screen {
    -webkit-box-shadow: #777 0px 4px 10px;
    -moz-box-shadow: #777 0px 4px 10px;
    -webkit-transition: all 0,5s;
    background-color: white;

    border: 1px solid #AAA;    
    padding: 20px 25px 25px;
    width: 450px;
    height: 100px;
    left: 50%;
    top: 30%;
    margin-left: -225px;
    position: absolute;

    font-size: 21px;
}

#workspace {    
    width: 100%;
    height: 100%;
    padding-top: 41px; //for toolbar

    background: #000;
}

#workspace canvas {
    position: absolute;
    top: 41px;
    left: 50%;
}

#toolbar {
    position: fixed;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ccc;
    top: 0px;
    left: 0px;
    z-index: 2;
}

/********* Point **********/

.point {
    position: absolute;
    margin-left: -15px;
    margin-top: -15px;
    cursor: pointer;
    z-index: 1;
}

.point .label {
    width: 20px;
    height: 20px;
    padding: 5px;
    text-align: center;

    border-radius: 30px;
    -moz-border-radius: 30px;

    font-weight: bold;
    font-size: 18px;
    color: #fff;

    border: 1px solid #333;
    background: #5D8AA8;
    opacity: 0.7;
}
.point.opened .label, .point:hover .label { opacity: 0.9; }

.point.red .label { background: #CB4154; }
.point.blue .label { background: #5D8AA8; }
.point.green .label { background: #50C878; color: #333; }
.point.gray .label { background: #DCDCDC; color: #333; }

.point .overview {
    border: 2px solid #ccc;
    -webkit-box-shadow: #777 0px 4px 10px;
    -moz-box-shadow: #777 0px 4px 10px;

    margin-left: -21px;
    margin-top: 6px;
    margin-bottom: 20px;

    position: relative;
    padding: 10px;
    padding-bottom: 5px;

    display:none;
}

.point:hover .overview, .point.opened .overview, .point .comment.edit_mode .form { display: block; }

.point .comment.edit_mode .preview { display:none; }

/* Point preview */

.point .overview .preview {
    height: 50px;   
    position: relative;
    clear: both;
}

.point .overview .preview div { float: left; }

.point .overview .description { margin-left: 5px; }
.point .overview .description .author { font-weight: bold; margin-right: 5px;}

.point .overview .description .text { 
    padding-top: 5px; 
    height: 30px;
    max-width: 300px;
    min-width: 250px;
    overflow: hidden;
    cursor: text;
}


/* Point form */

.point .form { 
    display: none;
    width: 300px;
    height: 60px;
    cursor: default;

    position: relative;
}

.point .comment.edit_mode .form { display: block; }

.point .form textarea {
    width: 290px;
    color: #333;

    margin-bottom: 2px;

    resize: none;
}

.point .form .save {
    padding: 0px 7px 0px 7px;
    cursor: pointer;
    position: absolute;
    font-size: 11px;
    left: 0px;
    bottom: -1px;
}

.point .form .delete {
    cursor: pointer;

    text-decoration: none;
    color: red;

    position: absolute;
    right: 0px;
    bottom: 0px;
}


.point .colors { 
    display: inline; 
    position: relative; 
}

.point .colors div { 
    cursor: pointer;
    float: left; 
    width: 13px; 
    height: 13px;
    margin: 3px;
    border: 1px solid #ccc;
}

.point .colors div:hover {
    border: 1px solid #000;
}

.point .colors div:first-child { margin-left: 50px; }

.point .colors .red { background: #CB4154; }
.point .colors .blue { background: #5D8AA8; }
.point .colors .green { background: #50C878; }
.point .colors .gray { background: #DCDCDC; }

/* Active color */
.point.red .colors .red, 
.point.blue .colors .blue,
.point.green .colors .green,
.point.gray .colors .gray { border: 1px solid #000 }

/* Add comment */

.point .new_comment_container {
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 25px;
}

.point .new_comment_container.colapsed { padding-bottom: 0px; }

.point textarea { 
    width: 100%; 
    height: 29px;
    resize: none;    
}

.point .new_comment_container.colapsed textarea {
    height: 14px;
    color: #777;
}

.point .new_comment_container .submit {
    padding: 1px 7px 1px 7px;
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    right: 6px;
    bottom: 2px;
}
.point .new_comment_container.colapsed .submit { display: none; }

.point .new_comment .fb_login {
}

/****************/

#big_loader {
    position: fixed; 
    z-index: 12; 
    text-align: center;
    
    width: 300px;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    background: white;

    margin-top: 200px; 
    left: 50%;
    margin-left: -150px;
    z-index: 12; 
}

/***********************/
#fb_login_screen {
    position: fixed;     
    margin-top: 200px; 
    left: 50%;
    margin-left: -150px;
    z-index: 12; 
}

/*****************/
#logged_user {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 3px;
    height: 35px;
    z-index: 3;
}

#background {
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100%;

    background: rgba(255,255,255, 0.2);
}

#logged_user div { float: left; margin-right: 5px; }

.user_info .name span { font-weight: bold; }
.user_info .name { line-height: 18px;}
.user_info .name .logout { color: #5D8AA8; text-decoration: none; }
.user_info .name .logout:hover { color: blue; text-decoration: underline; }

/*********** Toolbar ******************/
#share_link {
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 15px;
    line-height: 30px;    
    height: 30px;
    display: none;
}

#share_link input {
    margin-left: 10px;
    margin-right: 2px;
    border: 1px solid #ccc;
    padding: 3px;
    background: #eee;
    cursor: text;
    width: 200px;
}

#status {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;

    background: url(/images/ajax-loader.gif) center left no-repeat;

    padding-left: 22px;
}

/**** Connected Users ***********/
#connected_users {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#connected_users li {
    margin: 0;
    padding:0;
}

#connected_users li {
    color: #333;
    border: 1px solid #999;
    border-right: none;
    display: inline;
    float: left;
    padding: 5px;

    font-size: 11px;
    font-weight: bold;

    cursor: default;
}

#connected_users li img {
    margin-left: 10px;
}
