<!DOCTYPE HTML>
<html>
    <head>
        <title>PointOut - Share your ideas simply.</title>
        <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
        <meta name="keywords" content="pointout, image, commenting, sharing" /> 
        <meta http-equiv="Content-Language" content="en-us" /> 
        <meta name="author" content="PointOut" /> 
        <meta name="copyright" content="Copyright by PointOut. All Rights Reserved." />
        <meta name="description" content="Collaborative discussion of screenshots or any other images. Just upload your image and start commenting" />

        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/baloon.css" />

        <script src='/_ah/channel/jsapi'></script>

        <script src="/js/math.uuid.js"></script> 

        <script src="/js/jquery.min.js"></script> 
        <script src="/js/jquery-ui.min.js"></script> 
        <script src="/js/jquery.tmpl.min.js"></script> 
        <script src="/js/jquery.ba-bbq.min.js"></script>

        <script src="/js/pointout.js"></script>
        <script src="/js/workspace.js"></script>
        <script src="/js/main.js"></script>

        <script id="connected_users_template" type="text/x-jquery-tmpl">
            <ul>
                {{each users}}
                    {{if $value.id != current_user.id}}
                        <li class="linear_grad" title="Users watching this project right now">${$value.name}<img src="/images/green_dot.png" /></li>
                    {{/if}}
                {{/each}}
            </ul>
        </script>
        <script>
            var connected_users_template = $('#connected_users_template');
        </script>
        <script id="point_template" type="text/x-jquery-tmpl">
            <div class='point ${point.color}' style='top:${point.y}px; left:${point.x}px' id="${point.uuid}">
                <div class='label'>${point.label}</div>
                <div class='overview triangle-border top'>
                    {{each point.comments}}
                    <div class="comment {{if $index == edit_comment}}edit_mode{{/if}}" data-index="${$index}" data-author="${$value.author_name}" data-author-image="${$value.author_image}">
                        {{if $index == 0 || $index == point.comments.length-1}}
                        <div class="form">
                            <textarea>${$value.text}</textarea>                        
                            <input type="button" class="save" value="OK" />
                            {{if $index == 0}}
                            <div class="colors" style="display: none">
                                <div class="blue"></div>
                                <div class="red"></div>
                                <div class="green"></div>
                            </div>
                            {{/if}}
                            <a class="delete">delete</a>
                        </div>
                        {{/if}}
                        <div class="preview">
                            <div class='image'>
                                <img class='author_image' width='50px' height='50px' src='${$value.author_image||'/images/empty_avatar.png'}' />
                            </div>
                            <div class='description'>
                                <span class='author'>${$value.author_name}</span>{{if $value.text}}wrote:{{else}}didn't wrote anything {{/if}}
                                <p class='text'>${$value.text}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{if !(point.comments.length == 1 && edit_comment == 0)}}
                    <div class="comment new_comment_container colapsed" data-author='${user.name}' data-author-image='${user.image}'>
                        {{if !user.name }}
                            <a href="javascript:FB.login()" class="fb_login"><img src="/images/fb-login-button.png"/></a>
                        {{else}}                        
                            <textarea class="new_comment" spellcheck='false'>Write a comment...</textarea>
                            <input type="submit" value="Comment" class="submit" />
                        {{/if}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </script>        
        <script>
            var point_template = $('#point_template');
        </script>
    </head>
    <body>     
        <div id="start_screen" class="br_8" style="display: none">
            <label>Upload image</label>
            <input type="file" id="file_uploader" />
            <br/>
            <br/>
            <span style="font-size: 30px">Try <a href="javascript:;" id="show_demo">demo</a></span>
        </div>
        <div id="workspace" style="display: none;">   
            <div id="toolbar" class="linear_grad">
                <div id="status" style="display: none;">Uploading to server...</div>
                <div id="share_link" style="display: none;">Share<input value="" readonly onmousemove="this.select()" /></div> 
            </div>
            <canvas id="image_canvas"></canvas>
            <div id="connected_users">
            </div>
        </div>
        <div id="logged_user" class="user_info" style="display:none">
            <div class="image">
                <img width="35" height="35" class="br_3" />
            </div>
            <div class="name">
                <span></span>
                <br/>
                <a href="javascript:;" onclick="logout(); return false;" class="logout">Logout</a>
            </div>            
        </div>
        <div id="background" style="display: none;"></div>
        <div id="fb_login_screen" style="display:none" class="container box_shadow">
            <fb:login-button size="xlarge" >Login with Facebook</fb:login-button>
        </div>
        <div id="big_loader" class="box_shadow br_8" style="display: none"></div>
        <!--Facebook connect-->
        <div id="fb-root"></div>
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script>                        

            function logout(){
                FB.api({ method: 'Auth.revokeAuthorization' }, function(response) {  
                    console.log("Revoke authorization response: ", response);
                });
            }

            function updateLoginStatus(logged){
                var ws = WorkspaceManager.getActiveWorkspace();
                
                if (logged) {       
                    FB.api('/me', function(response) {          
                        console.log('User info', response);

                        var image = "http://graph.facebook.com/"+response.id+"/picture";

                        $('#logged_user .image img')[0].src = image;
                        $('#logged_user .name span').html(response.name);

                        $('#logged_user').show();

                        ws.user = { 
                            name: response.name, 
                            image: image, id: response.id,
                            link: response.link
                        };

                        if(!ws.getConnectedUser(response.id))
                            ws.users.push(ws.user);
                        

                        $('#fb_login_screen').hide();
                        $('#background').hide();
                        
                        $(window).trigger('hashchange');
                    });
                } else {
                    $('#fb_login_screen').show();
                    $('#background').show();

                    $('#logged_user').hide();
                    
                    ws.user = {};
                }
            }

            FB.init({appId: '127727177287107', status: true, cookie: true, xfbml: true});
            FB.Event.subscribe('auth.sessionChange', function(response) {
                if (response.session) {                    
                    // A user has logged in, and a new cookie has been saved
                    updateLoginStatus(true);
                } else {
                    updateLoginStatus(false);
                   // The user has logged out, and the cookie has been cleared
                }
            });
            
            FB.getLoginStatus(function(response) {
                if(response.session) {
                    updateLoginStatus(true);
                } else {
                    updateLoginStatus(false);
                }
            })                        
        </script>        
    </body>
</html>
